.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h2 {
  text-align: center;
}